@import url('https://fonts.cdnfonts.com/css/bender');
/* font-family: 'Bender', sans-serif; */

:root {
    --color-scheme-background-color: rgb(31, 23, 17);
    --color-scheme-text-color: rgb(250, 239, 223);
}

* {
    font-family: 'Bender', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-scheme-background-color);
    color: var(--color-scheme-text-color);
    width: 100vw;
    overflow-x: hidden;
}

header, footer {
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#user-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#login, #alerts {
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 34px;
    transition: margin-top 0.35s ease-in-out;
}

#login img, #alerts img {
    filter: invert(99%) sepia(33%) saturate(1469%) hue-rotate(298deg) brightness(108%) contrast(96%);
}

#alerts img {
    width: 35px;
    height: 34.5px;
}

#login:hover::after {
    content: 'LOGIN';
    visibility: visible;
    pointer-events: all;
    opacity: 100%;
    bottom: -14px;
}

#login::after {
    content: 'LOGIN';
    user-select: none;
    pointer-events: none;
    font-size: 15px;
    color: var(--color-scheme-text-color);
    left: 50%;
    opacity: 0%;
    visibility: hidden;
    transform: translateX(-50%);
    position: absolute;
    bottom: -30px;
    transition: opacity 0.35s ease-in-out, bottom 0.35s ease-in-out, visibility 0.35s ease-in-out;
}

#alerts:hover::after {
    content: 'ALERTS';
    visibility: visible;
    pointer-events: all;
    opacity: 100%;
    bottom: -14px;
}

#alerts::after {
    content: 'ALERTS';
    user-select: none;
    pointer-events: none;
    font-size: 15px;
    color: var(--color-scheme-text-color);
    left: 50%;
    opacity: 0%;
    visibility: hidden;
    transform: translateX(-50%);
    position: absolute;
    bottom: -30px;
    transition: opacity 0.35s ease-in-out, bottom 0.35s ease-in-out, visibility 0.35s ease-in-out;
}

#login:hover, #alerts:hover {
    margin-top: -7.5px;
}

hr {
    border-top: 3px rgb(41, 40, 22) solid;
}

a {
    color: var(--color-scheme-text-color)
}

#content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.update-container {
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-input-container {
    width: 75%;
    margin: 25px 12.5% 10px 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#search {
    width: 500px;
    height: 35px;
    font-size: 25px;
    color: var(--color-scheme-text-color);
}

#search-submit {
    color: var(--color-scheme-text-color);
    transition: color 0.5s ease;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-submit:hover {
    color: var(--color-scheme-background-color);
}

#search-submit::after, #load-more::after {
    content: 'THIS IS A TEST';
    background-color: var(--color-scheme-text-color);
    position: absolute;
    width: 150px;
    height: 35px;
    opacity: 100%;
    visibility: visible;
    margin-right: 0px;
    pointer-events: none;
    user-select: none;
}

#search-submit:hover::after, #load-more:hover::after {
    margin-right: 0;
    opacity: 100%;
    visibility: visible;
    transition: margin-right 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

#legend-section {
    width: 95%;
    background-color: rgb(27, 22, 15);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.legend:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.item-container {
    padding: 0;
    margin: 0;
    width: 95%;
    height: 100px;
    background-color: rgb(27, 22, 15);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.item-icon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}

.item-short-name {
    position: absolute;
    right: -7.5px;
    top: 1px;
    font-size: 9.5px;
    user-select: none;
    pointer-events: none;
}

.item-name {
    font-size: 22.5px;
    font-weight: bold;
    margin-left: 25px;
    width: 50%;
}

.item-flea-price {
    font-size: 20px;
    width: 150px;
}